#CMake files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
out

#Visual Studio / Code file
.vscode
.vs

build

# Keep asio folder in github repo
external/asio-1.24.0/*
!external/asio-1.24.0/.gitkeep